---
const locale = Astro.currentLocale;
const alternativeLocale = locale === 'en' ? 'nl' : 'en';
---

<a 
  href={`/${alternativeLocale}`} 
  class="language-switcher"
>
  {alternativeLocale.toUpperCase()}
</a>
